$ext-links-margin: 2rem;

#ext-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  margin-top: $ext-links-margin;
  margin-bottom: $ext-links-margin;

  li {
    a {
      font-size: 1rem;

      &:hover {
        text-decoration: none;
      }
    }

    &:nth-child(1) a {
      color: $color-yellow;
    }

    &:nth-child(2) a {
      color: #0d65c2;
    }

    &:nth-child(3) a {
      color: #24292f;
    }

    &:nth-child(4) a {
      color: #1e1f26;
    }

    &:nth-child(5) a {
      color: #1d8ff4;
    }
  }
}
