$picture-size: 250px;

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  border-radius: 20px;

  #image {
    width: $picture-size;
    height: $picture-size;
    background-image: url("../images/animation.png");
    background-size: auto $picture-size;
    background-color: $color-gray;
    border-radius: 100%;
    animation: helloworld 0.37s steps(7) forwards;
    animation-delay: 0.7s;

    &:hover {
      background-position-x: 0px;
    }
  }

  div {
    text-align: center;

    h1 {
      font-size: 2.4rem;
      padding-bottom: 0.3rem;
    }

    h2 {
      font-size: 1.6rem;
      padding-bottom: 1.4rem;
    }

    h3 {
      font-size: 1.1rem;
      font-style: italic;
      padding-bottom: 1.5rem;
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    li {
      a {
        font-size: 1rem;
        text-decoration: none;
      }

      &:nth-child(1) a {
        color: #ff2215;
      }

      &:nth-child(2) a {
        color: #0d65c2;
      }

      &:nth-child(3) a {
        color: #24292f;
      }

      &:nth-child(4) a {
        color: #1e1f26;
      }

      &:nth-child(5) a {
        color: #1d8ff4;
      }
    }
  }
}

@keyframes helloworld {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1750px;
  }
}
