$picture-size: 250px;

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  border-radius: 20px;

  #image {
    width: $picture-size;
    height: $picture-size;
    background-image: url("../images/animation.png");
    background-size: auto $picture-size;
    background-color: $color-gray;
    border-radius: 100%;
    animation: helloworld 0.37s steps(7) forwards;
    animation-delay: 0.5s;

    &:hover {
      background-position-x: 0px;
    }
  }

  h1 {
    font-size: 2.4rem;
    padding-bottom: 0.3rem;
  }

  h2 {
    font-size: 1.6rem;
    padding-bottom: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
    font-style: italic;
  }
}

@keyframes helloworld {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1750px;
  }
}
