<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Hey! I am Valentin Perignon, a 20-year-old third year computer science student at the University of Franche-Comté, in France"
    />
    <meta
      name="keywords"
      content="student, IT, computer science, web, js, iOS, swift, swiftUI"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/d653a3d306.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- image -->
      <div id="image-container">
        <div id="image"></div>
      </div>

      <div id="title">
        <!-- text -->
        <h1>Hi, I am Valentin</h1>
        <h2>Computer Science Student</h2>
        <h3>Looking for an intership from 04-06-21</h3>

        <!-- links -->
        <ul>
          <li>
            <a href="/assets/docs/resume.pdf"><i class="far fa-file-pdf"></i></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/valentin-perignon-informatique/"
            >
              <i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/valentinperignon"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://codepen.io/valentin-lab">
              <i class="fab fa-codepen"></i>
            </a>
          </li>
          <li>
            <a href="mailto:valentin.perignon@orange.fr"
              ><i class="far fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <!-- Main content -->
    <main>
      <!-- navigation -->
      <nav>
        <ul>
          <li>
            <button class="selected" data-name="about-me">
              &#x1F590;&#x1F3FB; About Me
            </button>
          </li>
          <li>
            <button data-name="my-projects">&#x1F4BB; My Projects</button>
          </li>
          <li>
            <button data-name="my-skills">&#x1F4AA;&#x1F3FB; My Skills</button>
          </li>
        </ul>
      </nav>

      <!-- who am i -->
      <div class="content display-content" id="about-me">
        <p>
          Hello! My name is Valentin Perignon. I am a 20-year-old third year
          computer science student at the University of Franche-Comté, in France
          &#x1F1EB;&#x1F1F7;.
        </p>

        <p>
          I am deeply interested in the languages of the web. If you are seeking
          me, I am probably writing some JavaScript or CSS. I like to discover
          and learn new things. I am often immersed in books or websites to
          deepen my knowledge or get new ones.
        </p>

        <p>
          &#x1F9D1;&#x200D;&#x1F4BB; I am looking for an internship from April
          6, 2021, for a minimum of 3 months. Feel free to contact me.
        </p>
      </div>

      <!-- my projects -->
      <div class="content" id="my-projects">
        <p>
          &#x26A0;&#xFE0F; Work in progress... This year, I'm working on a
          progressive web app for pharmacy students, with two classmates. This
          serious game, developed with Node.js and React, offers quizzes and
          duels between students to learn easily.
        </p>

        <p>
          &#x1F393; I am very interested in mobile development, especially for
          the Apple ecosystem. In summer 2019, I learned how to develop an iOS
          app by discovering Swift, SwiftUI and Xcode. I then published in the
          App Store an application,
          <a href="https://apps.apple.com/us/app/schoolexams/id1527399525"
            >SchoolExams</a
          >, to help students keep track of their grades.
        </p>

        <p>
          &#x1F3E6; In 2019, I did a 3-month internship in the French bank
          Crédit Agricole de Franche-Comté. I was involved in the development of
          a web application for bankers. I used PHP and JavaScript.
        </p>

        <p>
          &#x1F579;&#xFE0F; In freshman year, as part of my studies, I recreated
          the game Pang in JavaScript. I was helped by two friends. You can take
          up <a href="documents/pang/">the challenge here</a>.
        </p>

        <p>
          More? You can visit
          <a href="https://github.com/valentinperignon">GitHub</a> or
          <a href="https://codepen.io/valentin-lab">CodePen</a>!
        </p>
      </div>

      <!-- my skils -->
      <div class="content" id="my-skills">
        <p>
          &#x1F4F1; Mobile development is a very interesting field. For this
          reason, I know the Swift language, and I know how to work with the
          SwiftUI framework. Moreover, I know how to use the Xcode IDE.
        </p>

        <p>
          &#x1F310; I am passionate about the web. I have been using HTML and
          CSS for many years. I often use PHP and JavaScript. I also know how to
          work with Node.js and the React framework.
        </p>

        <p>
          &#x1F5A5;&#xFE0F; Java, C and C++ are three languages I am used to
          working with.
        </p>

        <p>For my projects, I work with Git and GitHub or GitLab.</p>
      </div>
    </main>
  </body>
</html>
