<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta
      name="description"
      content="Hey! I am Valentin Perignon, a 20-year-old third year computer science student at the University of Franche-Comté, in France"
    />
    <meta
      name="keywords"
      content="student, IT, computer science, web, js, iOS, swift, swiftUI"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/d653a3d306.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- image -->
      <div id="image-container">
        <div id="image"></div>
      </div>

      <div id="title">
        <!-- text -->
        <h1>Hi, I am Valentin</h1>
        <h2>Computer Science Student</h2>
        <h3>Looking for an intership from 04-06-21</h3>

        <!-- links -->
        {% include navigation.html %}
      </div>
    </header>

    <!-- Main content -->
    <main>
      {{ content }}
    </main>
  </body>
</html>
