/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

header,
#ext-links,
main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  border-radius: 20px;
}
header #image {
  width: 250px;
  height: 250px;
  background-image: url("../images/animation.png");
  background-size: auto 250px;
  background-color: #f2f2f7;
  border-radius: 100%;
  animation: helloworld 0.37s steps(7) forwards;
  animation-delay: 0.7s;
}
header #image:hover {
  background-position-x: 0px;
}
header div {
  text-align: center;
}
header div h1 {
  font-size: 2.4rem;
  padding-bottom: 0.3rem;
}
header div h2 {
  font-size: 1.6rem;
  padding-bottom: 1.4rem;
}
header div h3 {
  font-size: 1.1rem;
  font-style: italic;
  padding-bottom: 1.5rem;
}
header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
header ul li a {
  font-size: 1rem;
  text-decoration: none;
}
header ul li:nth-child(1) a {
  color: #ff2215;
}
header ul li:nth-child(2) a {
  color: #0d65c2;
}
header ul li:nth-child(3) a {
  color: #24292f;
}
header ul li:nth-child(4) a {
  color: #1e1f26;
}
header ul li:nth-child(5) a {
  color: #1d8ff4;
}

@keyframes helloworld {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -1750px;
  }
}
nav {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav ul li {
  padding-right: 1.5rem;
}
nav ul li:last-of-type {
  padding-right: 0;
}
nav ul li button {
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
  background: linear-gradient(to top, #f4b700 40%, transparent 40%);
  cursor: pointer;
  filter: saturate(0);
  transition: filter 0.2s ease-in-out;
}
nav ul li button.selected, nav ul li button:hover {
  filter: saturate(1);
}
nav ul li button:focus {
  outline: none;
}

.content {
  display: none;
}
.content.display-content {
  display: block;
}
.content p {
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
